<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='front-style.css'/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src='front-script.js'></script>
	</head>
	<body>
 		<div class="slider-nav">
			<a href="#" class="arrow-prev"><</a>
			<a href="#" class="arrow-home">^</a>
			<a href="#" class="arrow-next">></a>
		</div> 
		
		<div class="slider">
			<div class="col-10 slide active-slide" id="feature1">
				<h4>Feature 1</h4>
				<p>this is the 1st featured article</p>
			</div>
			
			<div class="col-10 slide" id="feature2">
				<h4>Feature 2</h4>
				<p>this is the 2nd featured article</p>				
			</div>
			
			<div class="col-10 slide" id="feature3">
				<h4>Feature 3</h4>
				<p>this is the 3rd featured article</p>
			</div>
			
			<div class="col-10 slide" id="feature4">
				<h4>Feature 4</h4>
				<p>this is the 4th featured article</p>
			</div>
			
		</div>
		
	</body>
</html>