Django==1.7.1
Pillow==2.6.1
South==1.0.2
beautifulsoup4==4.3.2
dj-database-url==0.3.0
dj-static==0.0.6
django-andablog==1.2.2
django-extensions==1.5.1
django-markitup==2.2.2
django-model-utils==2.2
django-taggit==0.12.2
django-wysiwyg==0.7.0
gunicorn==19.1.1
requests==2.5.1
six==1.8.0
static3==0.5.1
whitenoise==1.0.6
