{% extends 'workflow_base.html' %}

{% block title_block %}
    <title>Assignments</title>
{% endblock %}

{% block breadcrumb %}
    <a class="btn btn-default btn-primary btn-right" href="{% url 'new_assignment' %}">Create New Assignment</a>
{% endblock %}

{% block content_block %}
    <div class="assignment_block">
        <ul class="assignment_ls">
            {% for assignment in assignments %}
                {% include 'assignment/assignment_partial.html' %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block additional_scripts_block %}
    <script>
        function accept(i){
            $.ajax({
                url:'',
                data:{action:'accept', id:i},
                success:function(){
                    $('#'+i+"_but").replaceWith('<span class="badge">Assignment accepted</span>');
                },
                error: function (xhr, message, exception) {
                           alert('error occurs: ' + exception);
                }
            })
        }

        function finish(i){
            $.ajax({
                url:'',
                data:{action:'finish', id:i},
                success: function(){
                    $('#'+i+'_finish_but').replaceWith('<span class="badge">Assignment finished</span>');
                },
                error: function(xhr, message, exception) {
                    alert('error occurs: ' + exception);
                }
            })
        }
    </script>
{% endblock %}