<article>
        <br />
        <div class="long_article_title_div">
            <h2 class="long_article_title"><a href="{{ assignment.get_absolute_url }}">{{ assignment.title }}</a></h2>
        </div>
        <p>
        Category: <a href="{% url 'filter_by_section' assignment.section.pk %}">{{ assignment.section.name }}</a>
,
        {% if assignment.receiver %}
            Received by <a href="{% url 'filter_by_receiver' assignment.receiver.id %}">{{ assignment.receiver.user.username }}</a>,
        {% endif %}

        Assignment Due: {{ assignment.due_date }},

        {{ assignment.progress }}
        </p>
    <p class="assignment_content">
        {{ assignment.content }}
    </p>
</article>