{% extends 'workflow_base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
    <title>Edit {{ article.title }}</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumbAdjust">
        <li><a href="{% url 'issues' %}">Issues</a></li>
        <li><a href="{% url 'issue' article.issue.id %}">Issue {{ article.issue.name }}</a></li>
        <li><a href="{% url 'warticle' article.issue.id article.pk %}">{{ article.title }}</a></li>
        <li class="active">Edit</li>
    </ol>
{% endblock %}

{% block content_block %}
    <a class="btn btn-success btn-right" href="javascript:void(0)"
       onclick="window.open('{% url 'edit_album' article.issue.id article.album.id %}',300,500)">View/Edit Album</a>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            {% if field|widget_type == "select" %}
                {% render_field field class+="combobox margin-vertical-10" placeholder=field.label %}
            {% elif field|widget_type == "textarea" %}
                {% render_field field class+="" placeholder=field.label %}
            {% elif field|widget_type == "multiplechoicewidget" %}
                {% render_field field class+="form-control margin-vertical-10 multiple-choice-style" placeholder=field.label %}
            {% else %}
                {% render_field field class+="form-control margin-vertical-10 margin-bottom-20 edit-title" placeholder=field.label %}
            {% endif %}
        {% endfor %}
        <input type="hidden" name="time" value="{{ time }}">
        <div class="widthCenter50">
            <input id="edit" class="btn btn-default btn-primary btn-block" type="submit" value="Edit Article"/>
        </div>
    </form>
{% endblock %}

{% block additional_scripts_block %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace(id_content, {
            customConfig: '{% static 'ckeditor_config.js' %}',
            filebrowserBrowseUrl: '{% url 'select_photos' article.issue.id article.album.id %}'
        })
    </script>
    {% include 'autocomplete_light/static.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.combobox').combobox();
            {% if overwrite %}
                alert('{{ overwrite }}');
            {% endif %}
        });
    </script>
{% endblock %}