{% extends 'workflow_base.html' %}

{% block title_block %}
    <title>Edit {{ article.title }}</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumbAdjust">
        <li><a href="{% url 'issues' %}">Issues</a></li>
        <li><a href="{% url 'issue' article.issue.pk %}">Issue {{ article.issue.name }}</a></li>
        <li><a href="{% url 'warticle' article.issue.pk article.pk %}">{{ article.title }}</a></li>
        <li class="active">Edit</li>
    </ol>
{% endblock %}

{% block content_block %}
    {% load staticfiles %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <textarea name='original_content' style="display:none">
            {{ original_content }}
        </textarea>
        <input type="hidden" name="original_second" value="{{ original_second }}">

        <div class="widthCenter50">
            <input class="btn btn-default btn-primary btn-block" type="submit" value="Edit Article"/>
        </div>
    </form>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace(id_content, {
            customConfig: '{% static 'ckeditor_config.js' %}'
        })
    </script>
{% endblock %}

{% block additional_scripts_block %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}