{% extends 'workflow_base.html' %}

{% block title_block %}
    <title>Revision for {{ revision.article.title }}</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumbAdjust">
        <li><a href="{% url 'issues' %}">Issues</a></li>
        <li><a href="{% url 'issue' revision.article.issue.pk %}">Issue {{ revision.article.issue.name }}</a></li>
        <li class="active"><a href="{% url 'warticle' revision.article.issue.id revision.article.id %}">{{ revision.article.title }}</a>
</li>
        <li class="active">Revision ID #{{ revision.pk }}</li>
    </ol>
{% endblock %}

{% block content_block %}
    <article>
        <div class="long_article_title_div">
            <h1 class="long_article_title">{{ revision.article.title }} (Revision ID #{{ revision.pk }})</h1>
        </div>
        <p>
            Editor: {{ revision.editor }},
            Revision date: {{ revision.date }}
        </p>
        <section class='revision_body'>
            {{ body | safe }}
        </section>
    </article>

    <div class="revision_block">
        {% include 'articles/revision_list_partial.html' with article=revision.article %}
    </div>
{% endblock %}