{% extends 'workflow_base.html' %}
{% load static %}

{% block title_block %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block breadcrumb %}
    {% if 'silver' in request.user.profile.ideal_group_names %}
        <ol class="breadcrumb breadcrumbAdjust">
            <li><a href="{% url 'issues' %}">Issues</a></li>
            <li><a href="{% url 'issue' article.issue.pk %}">Issue {{ article.issue.name }}</a></li>
            <li class="active">{{ article.title }}</li>
        </ol>
        {% if article.published %}
            <a class="btn btn-default btn-warning btn-right" href="javascript:void(0)" id='unpub_but'
               onclick="unpub();">Unpublish</a>
        {% else %}
            <a class="btn btn-default btn-success btn-right" href="javascript:void(0)" id='pub_but'
               onclick="pub();">Publish</a>
        {% endif %}
    {% else %}
        <ol class="breadcrumb breadcrumbAdjust">
            <li><a href="{% url 'whome' %}">My Works</a></li>
            <li class="active">{{ article.title }}</li>
        </ol>
    {% endif %}
{% endblock %}

{% block content_block %}
    <div class="article_block">
        {% include 'articles/workflow_long_article_partial.html' %}
    </div>
    <div class="comment_block">
        {% include 'articles/comments_partial.html' %}
    </div>
    {% if 'silver' in request.user.profile.ideal_group_names %}
    <div class="revision_block">
        {% include 'articles/revision_list_partial.html' %}
    </div>
    {% endif %}
{% endblock %}

{% block additional_scripts_block %}
    <script src="{% static 'imageCaption.js' %}"></script>
    <script src="{% static 'history.js' %}"></script>
    <script src="{% static 'history.adapter.jquery.js' %}"></script>
    <script>
        pub_but = '<a class="btn btn-default btn-success btn-right" href="javascript:void(0)" ' +
        'id="pub_but" onclick="pub();">Publish</a>'
        unpub_but = '<a class="btn btn-default btn-warning btn-right" href="javascript:void(0)" ' +
        'id="unpub_but" onclick="unpub();">Unpublish</a>'
        function pub() {
            $.ajax({
                       url: '/workflow/pub/{{ article.id }}',
                       success: function () {
                           $('#pub_but').replaceWith(unpub_but);
                           History.replaceState({pub: true}, "", "?pub=true");
                       },
                       error: function (xhr, message, exception) {
                           alert('error occurs: ' + exception);
                       }
                   })
        }
        function unpub() {
            $.ajax({
                       url: '/workflow/pub/{{ article.id }}',
                       success: function () {
                           $('#unpub_but').replaceWith(pub_but);
                           History.replaceState({pub: false}, "", "?pub=false");
                       },
                       error: function (xhr, message, exception) {
                           alert('error occurs: ' + exception);
                       }
                   })
        }
        (function (window, undefined) {
            History.Adapter.bind(window, 'statechange', function () {
                var state = History.getState();
                if (state.data['pub']) {
                    $('#pub_but').replaceWith(unpub_but);
                } else {
                    $('#unpub_but').replaceWith(pub_but);
                }
            });
        })(window);


        function wrap(obj) {
            console.log(obj);
            return "<ls class='comments_block'>" +
                    "<p class='commentBody'>" + obj.body + "</p>" +
                    "<a href='javascript:void(0)' class='comment-delete-button' comment_id='"+ obj.id+"'>delete</a>"+
                    "<p class='commentHeader'>" + obj.author[1] + " | " + obj.created_date +
                    "</p></ls>";
        }

        $('#new_comment_btn').click(function () {
            comment_content = $('#new_comment').val();
            if (comment_content.trim() != ""){
                $('#new_comment').val('');
                $.ajax({
                           url: '/workflow/comment/{{ article.id }}/{{ request.user.id }}/',
                           data: {body: comment_content},
                           success: function (obj) {
                               $('#comments_ls').append(wrap(obj));
                               History.replaceState({comment: true, obj: obj}, "", "?comment=true");
                               addListener();
                           },
                           error: function (xhr, message, exception) {
                               alert('error occurs: ' + exception);
                           }
                       })
            }
        });

        function addListener(){
            $('.comment-delete-button').click(function () {
            var comment_id = $(this).attr('comment_id');
            $(this).parent().fadeOut();
            $.ajax({
                url: '/workflow/comment/delete/'+comment_id+"/",
                success: function (obj) {
                    History.replaceState({delete: true, obj: obj}, "", "?delete=true");
                },
                error: function (xhr, message, exception) {
                }
            })
        });
        }
        addListener();
    </script>
{% endblock %}