<article>
    <hgroup>
        <h3 class="article_title">
            <a href="{% url 'warticle' article.issue.id article.id %}">{{ article.title }}</a>
        </h3>

        <p>
            ID: <a>{{ article.id }}</a>
            {% if article.authors.all.count > 1 %}
            Authors:
            {% else %}
            Author:
            {% endif %}
            {% for author in article.authors.all %}
                <a href="{{ author.get_absolute_url }}">{{ author.display_name }}</a>
            {% endfor %},
            Updated: {{ article.updated_date }}, <b>{{ article.length }}</b> words,
            <a href="{% url 'article_xml' article.id %}"><i class="fa fa-download"></i> Download XML</a>
            {% if article.has_photo %}
            <span class="label label-success">Photos Received</span>
            {% endif %}
            {% if article.published %}
            <span class="label label-info">Published</span>
            {% endif %}
        </p>
    </hgroup>
    <p class="article_content">
        {{ article.content_with_no_images | truncatechars:200 | safe }} </em>
    </p>
    {% if article.edited_by.all %}
        <p style="color:red">
            {% for editor in article.edited_by.all %}
                {{  editor.profile.display_name }}
            {% endfor %}
            is working on this article.
        </p>
    {% endif %}
</article>
