<article>
    <hgroup>
        <h3 class="article_title">
            <a href="{% url 'warticle' article.issue.id article.id %}">{{ article.title }}</a>
        </h3>

        <p>
            {% for author in article.authors.all %}
                Author: <a href="{{ article.author.get_absolute_url }}">{{ author.display_name }}</a>
            {% endfor % %},
            Last updated: {{ article.updated_date }}
            <a href="{% url 'article_xml' article.id %}"><i class="fa fa-download"></i> Download XML</a>
        </p>
    </hgroup>
    <p class="article_content">
        {{ article.content_with_no_images | truncatechars:100 | safe }}
    </p>
</article>