{% load url from future %}
<article>
    <div class="long_article_title_div">
        <h2 class="long_article_title">{{ article.title }}</h2>
        {% if 'silver' in request.user.profile.ideal_group_names %}
            <span class="padding-h5"></span>
            <a class="delete_button_transparent" href="{% url 'delete_article' article.issue.id article.id %}"><i
                    class="fa fa-4x fa-ban"></i></a>
        {% endif %}
    </div>
    <p>
        ID: <a>{{ article.id }}</a>,
        Section: <a href="{% url 'section' article.section.slug %}">{{ article.section }}</a>,
        {% if article.authors.all.count > 1 %}
            Authors:
        {% else %}
            Author:
        {% endif %}
        {% for author in article.authors.all %}
            <a href="{{ author.get_absolute_url }}">{{ author.display_name }}</a>
        {% endfor %},
        Last updated: {{ article.updated_date }}, <b>{{ article.length }}</b> words,
        <a href="{% url 'article_xml' article.id %}"><i class="fa fa-download"></i> Download XML</a>
        {% if article.has_photo %}
        <span class="label label-success">Photos Received</span>
        {% endif %}
    </p>
    {% if 'silver' in request.user.profile.ideal_group_names %}
        <a id="edit" class="btn btn-default btn-primary btn-50"
           href="{% url 'edit_article' article.issue.id article.id %}">Edit</a>
    {% endif %}
    <div class="padding10"></div>
    {% if article.edited_by.all %}
            <p style="color:red">
                {% for editor in article.edited_by.all %}
                    {{  editor.profile.display_name }}
                {% endfor %}
                is working on this article.
            </p>
    {% endif %}
    <section class="article_content">
        {{ article.content | safe }}
    </section>
</article>
