{% load url from future %}
<article>
    <div class="long_article_title_div">
        <h1 class="long_article_title">{{ article.title }}</h1><span class="padding-h5"></span><a class="delete_button_transparent" href="{% url 'delete_article' article.issue.id article.id %}"><i class="fa fa-4x fa-ban"></i></a>
    </div>
    <p>
        Section: <a href="{% url 'section' article.section.slug %}">{{ article.section }}</a>,
        Authors:
        {% for author in article.authors.all %}
            <a href="{{ author.get_absolute_url }}">{{ author.display_name }}</a>
        {% endfor %},
        Last updated: {{ article.updated_date }}
    <a href="{% url 'article_xml' article.id %}">XML</a>
    </p>
    <div id="edit_button_wrap" style="text-align: center">
        <a class="btn btn-default btn-primary btn-50"
           href="{% url 'edit_article' article.issue.id article.id %}">Edit</a>
    </div>

    <ul class="photo_ls">
        {% if article.has_photo %}
            {% for photo in article.album.photos %}
                <ls><img src="{{ photo.image.path }}"/></ls>
            {% endfor %}
        {% endif %}
    </ul>
    <section class="article_content">
        {{ article.content | safe }}
    </section>
</article>