{% extends 'workflow_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block breadcrumb %}
    <ol class="breadcrumb breadcrumbAdjust">
        <li><a href="{% url 'issues' %}">Issues</a></li>
        <li class="active">Issue {{ issue.name }}</li>
    </ol>
{% endblock %}
{% block content_block %}
    <div id="edit_button_wrap" style="text-align: center">
        <a class="btn btn-default btn-primary btn-50"
           href="{% url 'new_article' issue.id %}">Create Article</a>
    </div>
    <div class="horizontal-center">
        <ul id="sectionNavigation" class="nav nav-tabs">
            {% for section in sections %}
                <li class="section-tab" id="{{ section.slug }}"><a class="sizeH3" href="#">{{ section.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for section in sections %}
        <div class="articles" id="{{ section.slug }}-articles">
            {% for article in articles %}
                {% if article.section == section %}
                    {% include 'articles/workflow_short_article_partial.html' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block additional_scripts_block %}
    <script type="text/javascript" src="{% static 'issue_tab.js' %}"></script>
{% endblock %}

