{% extends 'workflow_base.html' %}

{% block title_block %}
    <title>Issues</title>
{% endblock %}

{% block content_block %}
    <div class="padding10"></div>
    <a class="btn btn-primary" href="{% url 'new_issue' %}">New Issue</a>
    <ul class="list-group">
        {% for issue in issues %}
            <li class="list-group-item">
                <a href="{% url 'issue' issue.id %}">{{ issue.name }}</a>> | <a href="{% url 'edit_issue' issue.id %}">edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}