<article>
    <hgroup>
        <h1 class="assignment_title">
            <a href="{{ assignment.get_absolute_url }}">{{ assignment.title }}</a>
        </h1>
        <h2 class="assignment_category">
            <a href="#">{{ assignment.section }}</a>
        </h2>
        {% if assignment.receiver %}
            <h2 class="assignment_receiver">Received by {{ assignment.receiver.user.username }}</h2>
        {% endif %}
        <h2 class="assignment_due">{{ assignment.due_date }}</h2>
        <h2 class="assignment_progress">{{ assignment.progress }}</h2>
    </hgroup>
    <p class="assignment_content">
        {{assignment.content}}
    </p>
</article>