{% extends 'workflow_base.html' %}
{% load static from staticfiles %}

{% block title_block %}
    <title>Archives</title>
{% endblock %}


{% block content_block %}
    <div class="padding10"></div>
    <form enctype="multipart/form-data" action='' method="POST">
        {% csrf_token %}
        <input class="form-control" type="file" multiple="multiple" name="files">
        <div class="widthCenter50">
            <input id="upload" class="btn btn-default btn-primary btn-block" type="submit" value="Upload"/>
        </div>
    </form>
    <div class="padding10"></div>
    <ul class="list-group">
        {% for copy in copies %}
            <li class="list-group-item">
                <a href="{{ copy.file.url }}">{{ copy }}</a>
                <a class="delete_button_transparent" href="{% url 'copies' %}?delete={{ copy.id }}"><i class="fa fa-ban"></i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
