<article>
<h1>Staff</h1>
<p>
    <a href="mailto:editor@tsl.pomona.edu">Editor-in-Chief</a>: Kevin Tidmarsh<br/>
    <a href="mailto:contentmanager@tsl.pomona.edu">Managing Editor for Life & Style and Sports</a>: Alexa Strabuk<br/>
    <a href="mailto:managingeditor@tsl.pomona.edu">Managing Editor for News and Opinions</a>: Diane Lee<br/>
    <a href="mailto:design@tsl.pomona.edu">Senior Design Editor</a>: Jessica Wang<br/>
    <a href="mailto:development@tsl.pomona.edu">Senior Development Manager</a>: Julia Thomas<br/>
    <a href="mailto:copy@tsl.pomona.edu">Senior Copy Editor</a>: Mattie Toll
</p>

<p>
    <a href="mailto:newseditor@tsl.pomona.edu">News Editor</a>: Lauren Ison<br/>
    <a href="mailto:news@tsl.pomona.edu">News Section Manager</a>: Caroline Willian<br/>
    <a href="mailto:lifeandstyle@tsl.pomona.edu">Life & Style Editor</a>: Carlisle Micallef<br/>
    <a href="mailto:opinions@tsl.pomona.edu">Opinions Editor</a>: Benji Lu<br/>
    <a href="mailto:sportseditor@tsl.pomona.edu">Sports Editors</a>: Sean Cremin, Griffin Ferre
</p>

<p>
    News Design Editor: Grace Richey<br/>
    Life & Style Design Editor: Monica Acosta <br/>
    Opinions Design Editor: Elizabeth Leader<br/>
    Sports Design Editor: Shannon Herbst
</p>

<p>
    News/Ops Copy Editor: Read Rydberg<br/>
    Life & Style/Sports Copy Editor: Hannah Lippard <br/>
    News Copy Associate: Christopher Eskilson<br/>
    Life & Style Copy Associate: Arden Hu <br/>
    Opinions Copy Associate: Ashley Leader <br/>
    Sports Copy Associate: Spencer Hamersmith
</p>

<p>
    Photography Editor: Tim Hernandez<br/>
    Photography Manager: Alexandra Smith<br/>
    Graphics Editor: Chloe An<br/>
    <a href="mailto:social@tsl.pomona.edu">Social Media Manager</a>: Rhian Moore<br/>
    <a href="mailto:subscriptions@tsl.pomona.edu">Distribution Manager</a>: Sarah Binau<br/>
    <a href="mailto:business@tsl.pomona.edu">Business Manager</a>: Guan Wang <br/>
    <a href="mailto:webmaster@tsl.pomona.edu">Web Developers</a>: Ziqi Xiong, Kent Shikama, Latina Vidolova
</p>
</article>