<article>
<h1>Staff</h1>
<p>
    <a href="mailto:editor@tsl.pomona.edu">Editor-in-Chief</a>: Alexa Strabuk<br/>
    <a href="mailto:contentmanager@tsl.pomona.edu">Managing Editor for Life & Style and Sports</a>: Christopher Eskilson<br/>
    <a href="mailto:managingeditor@tsl.pomona.edu">Managing Editor for News and Opinions</a>: Lauren Ison<br/>
    <a href="mailto:design@tsl.pomona.edu">Senior Design Editor</a>: Elizabeth Leader, Grace Richey<br/>
    <a href="mailto:development@tsl.pomona.edu">Senior Advisor</a>: Julia Thomas, Diane Lee<br/>
    <a href="mailto:copy@tsl.pomona.edu">Senior Copy Editor</a>: Arden Hu
</p>

<p>
    <a href="mailto:newseditor@tsl.pomona.edu">News Editor</a>: Paige Pepitone<br/>
    <a href="mailto:news@tsl.pomona.edu">News Section Manager</a>: Sean Ogami<br/>
    <a href="mailto:lifeandstyle@tsl.pomona.edu">Life & Style Editor</a>: Sophie Peters, Safa Arshadullah<br/>
    <a href="mailto:opinions@tsl.pomona.edu">Opinions Editor</a>:  Katie Baughman<br/>
    <a href="mailto:sportseditor@tsl.pomona.edu">Sports Editors</a>: Sabrina Wilk, Jo Nordhoff-Beard
</p>

<p>
    News Design Editor: Megan Robalewski<br/>
    Life & Style Design Editor: Nik Papastavrou<br/>
    Opinions Design Editor:  Daphne	Yang<br/>
    Sports Design Editor: Christina Beck
</p>

<p>
    News/Ops Copy Editor: Donnie Denome<br/>
    Life & Style/Sports Copy Editor: Elizabeth Godbey<br/>
    News Copy Associate: Rachel Bolton<br/>
    Life & Style Copy Associate: Tiffany Mi<br/>
    Opinions Copy Associate: Daniela Bond<br/>
    Sports Copy Associate: Andrew Medina
</p>

<p>
    Photography Editor: Tim Hernandez<br/>
    Photography Manager: Liam Brooks<br/>
    Graphics Editor: Dominic Frempong<br/>
    <a href="mailto:social@tsl.pomona.edu">Social Media Manager</a>: Monica Acosta<br/>
    <a href="mailto:subscriptions@tsl.pomona.edu">Distribution Manager</a>: Carlos Ballesteros<br/>
    <a href="mailto:business@tsl.pomona.edu">Business Manager</a>: Wesley Liang<br/>
    <a href="mailto:webmaster@tsl.pomona.edu">Web Developers</a>: Ziqi Xiong, Kent Shikama
</p>
</article>
