p {
    font-size: 1.2em;
}

.margin10 {
    margin:10px;
}

.padding10 {
    padding: 10px;
}

.horizontal-center {
    display: inline-block;
    text-align: center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

footer {
    text-align: center;
}
#info-menu a{
    margin-left: 10px;
    margin-right: 10px;
}

#tslLogo {
    display:block;
    margin:auto;
    width: 30%;
}

.navbar #tslLogo {
    width: 30px;
    display: inline;
    margin-right: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.sizeH3 {
    font-size: 35px;
}

.breadcrumbAdjust {
    background-color: transparent;
    font-size: 1.2em;
}

.widthCenter50 {
    width: 50%;
    margin-left:25%;
    margin-top: 5%;
.long_article_title {
    display: inline;
}

.long_article_title_div {
    margin-bottom: 20px;
    margin-left: -3px;
}
.confirm_delete_info {
    margin-top: 40px;
}

.delete_button_transparent {
    color: #bbbbbb;
}

.delete_button_transparent:hover {
    color: red;
}