p {
    font-size: 1.2em;
}

.margin-vertical-10 {
    margin: 10px 0px 10px 0px;
}

.margin-bottom-20 {
    margin: 10px 0px 20px 0px;
}

.margin10 {
    margin:10px;
}

.padding10 {
    padding: 10px;
}

.horizontal-center {
    display: inline-block;
    text-align: center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.textAreaFull {
    width: 100%;
}

.commentHeader {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.commentBody {
   font-size: 1.2em;
    margin-bottom: 0px;
}

.form-control.album-caption {
    height: 50px;
}

.album-checkboxinput {
    display: none;
}

footer {
    text-align: center;
}
#info-menu a{
    margin-left: 10px;
    margin-right: 10px;
}

#tslLogo {
    display:block;
    margin:auto;
    width: 30%;
}

.navbar #tslLogo {
    width: 30px;
    display: inline;
    margin-right: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.sizeH3 {
    font-size: 35px;
}

.breadcrumbAdjust {
    background-color: transparent;
    font-size: 1.2em;
    display: inline-block;
}

.widthCenter50 {
    width: 50%;
    margin-left:25%;
    margin-top: 5%;
}

.btn-right {
    display: inline-block;
    float: right;
    margin: 8px 15px;
}

.btn-50 {
    display: inline-block;
    width: 50%;
}

.btn-40-side-by-side {
    display: inline-block;
    width: 30%;
    margin-right: 20px;
}

.long_article_title {
    display: inline;
}

.long_article_title_div {
    margin-bottom: 20px;
    margin-left: -3px;
}

.padding-h5 {
    padding-left: 20px;
}

.confirm_delete_info {
    margin-top: 40px;
}

.delete_button_transparent {
    color: #bbbbbb;
}

.delete_button_transparent:hover {
    color: red;
}

.multiple-choice-style {
    display: inline;
    margin-left: 10px;
}

#id_title {
    font-size: 2em;
    padding: 1em 0em;
}

#id_authors-deck {
    font-size: 1.5em;
}