<header>
	<h1>About</h1>
</header>

<p>The Student Life, the oldest college newspaper in Southern California, is student-written and managed. It is published weekly by the Associated Students of Pomona College for the Claremont Colleges.</p>

<p>Letters to the Editor can be submitted by mail, e-mail, or in person at Walker Hall room 101. TSL will publish letters under 400 words (although when an issue is particularly salient, we reserve the right to allow letters to run at a longer length) submitted by 4:00 p.m. Wednesday of the week of publication. We will not accept anonymous letters, letters containing profanity, or letters making personal attacks, and we reserve the right to edit spelling, punctuation, and serious grammatical errors. Letters may be signed by a maximum of three persons. All letters become the property of TSL.</p>

<h2><a id="community-guidelines"></a>Community Guidelines</h2>

<p><strong>Be a good person.</strong> The Consortium is a nice place. We are nice people. Debate the ideas, not the person.</p>
 
<p>If you attack another person, we will ask you to edit or remove your comment. If you don't respond, we don't have an easy way to contact you, or you refuse, we will edit or remove the comment ourselves.</p>
 
<p>If you are a spambot, we will remove your comments. This means you, "second hand cars manchester"!</p>
 
<p>If you believe we have erred or would like to talk about these guidelines, you can contact us anytime at <a href="mailto:digitaleditor@tsl.pomona.edu">digitaleditor@tsl.pomona.edu</a>.</p>

<h2>Contact</h2>

<p>The Student Life<br/>
Smith Campus Center <br/>
Pomona College <br/>
Claremont, CA 91711<br/></p>

<p>
E-mail:  <a href="mailto:editor@tsl.pomona.edu">editor@tsl.pomona.edu</a> <br/>
</p>

<p>
Please e-mail news tips to <a href="news@tsl.pomona.edu">news@tsl.pomona.edu</a> .
</p>

<p>
For advertising inquiries e-mail <a href="mailto:business@tsl.pomona.edu">business@tsl.pomona.edu</a>.
</p>