{% extends 'base.html' %}

{% block body_block %}
    <div class="article_block">
        {% include 'long_article_partial.html' %}
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'pomonatsl';
        var disqus_title = '{{ article.title }}';
        {% if article.legacy_id %}
            var disqus_identifier = 'aardvark_{{ article.legacy_id }}';
        {% else %}
            var disqus_identifier = 'wolverine_{{ article.id }}';
        {% endif %}
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>

{% endblock %}