{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title_block %}
    <title>{{ article.title }}</title>
    <style rel="stylesheet" type="text/css" href="{% static 'share_buttons.css' %}"></style>
{% endblock %}

{% block body_block %}
    <div class="tsl-container">
        <div class="article_block col-xs-12 col-sm-8 col-md-8 col-lg-8">
            {% include 'long_article_partial.html' %}
        </div>
        {% include 'side_menu.html' %}
    </div>
    <div class="text-center">{% include 'share_buttons_large.html' %}</div>
    <div class="tsl-disqus col-sm-8 col-md-8 col-lg-8">
        {% include 'disqus_partial.html' %}
    </div>


{% endblock %}

{% block script_block %}
    <script src="{% static 'ElementQueries.js' %}"></script>
     <script src="{% static 'ResizeSensor.js' %}"></script>
    <script src="{% static 'social_button.js' %}"></script>
    <script src="{% static 'resize_image.js' %}"></script>
    <script src="{% static 'imageCaption.js' %}"></script>
{% endblock %}