{% extends 'base.html' %}

{% block title_block %}

        {% load static %}
    <title>{{ article.title }}</title>
    <style rel="stylesheet" type="text/css" href="{% static 'share_buttons.css' %}"></style>
{% endblock %}

{% block body_block %}
    <div class="tsl-container">
        <div class="article_block col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% include 'long_article_partial.html' %}
        </div>
        {% include 'side_menu.html' %}
    </div>

    <div class="tsl-disqus">
        {% include 'disqus_partial.html' %}
    </div>


{% endblock %}

{% block script_block %}
<script src="{% static 'social_button.js' %}"></script>
{% endblock %}