{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title_block %}
    <title>{{ person }}</title>
{% endblock %}

{% block body_block %}
    <ol class="breadcrumb breadcrumbAdjust">
        <li>Articles by {{ person }}</li>
    </ol>
    <div class="tsl-container">
        <div class="article-previews">
            {% for article in articles %}
                <span class="article-preview">
                    {% include 'short_article_partial.html' %}
                </span>
            {% endfor %}
        </div>
        {% include 'side_menu.html' %}
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="{% static 'imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'disqus.js' %}"></script>
    <script type="text/javascript">
        $(window).load(function () {
            var container = (document.querySelector('.article-previews'));
            var msnry = new Masonry(container, {
                itemSelector: '.article-preview'
            });
        });
    </script>
{% endblock %}