{% extends 'base.html' %}

{% block title_block %}
    <title>{{ author.name }}</title>
{% endblock %}

{% block body_block %}
    <div class="tsl-container">
        <div class="article-previews col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% for article in articles %}
                <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6 article-preview">
                    {% include 'short_article_partial.html' %}
                </span>
            {% endfor %}
        </div>
        {% include 'side_menu.html' %}
    </div>
{% endblock %}