<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Weekly newspaper published by the Associated Students of Pomona College in Claremont.">
    <meta name="keywords" content="claremont,newspaper,students,news,life">
    {% block title_block %}


    {% endblock %}
</head>


<body>
{% load staticfiles %}
{% load url from future %}
{% block body_block %}



{% endblock %}


<footer>
    <p>
        &copy; 2015 The Student Life
    </p>
    <p>
        Created by Kent Shikama '18, Latina Vidolova '15, Ziqi Xiong '17.
    </p>
</footer>
</body>
</html>