<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description"
          content="Weekly newspaper published by the Associated Students of Pomona College in Claremont.">
    <meta name="keywords" content="Claremont,newspaper,students,news,life">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" />
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link rel='stylesheet' href='{% static 'front-style.css' %}'/>
    <script type="text/javascript" src='{% static 'front-script.js' %}'></script>
    {% block title_block %}

    {% endblock %}
</head>


<body>
{% load url from future %}
{% include 'navigation.html' %}
{% block body_block %}



{% endblock %}
<div class="container">
    <div class="container">
        {% block content_block %}

        {% endblock %}
    </div>
    <div class="container">
        <hr>
        <footer class="footer">
            <div id="info-menu">
                <a>About</a>
                <a>Contact</a>
                <a>Advertise</a>
                <a>Subscribe</a>
                <a>Print Issues</a>
                <span class="stretch"></span>
            </div>
            &copy; 2015 The Student Life
            <br/>
            Website created by Kent Shikama '18, Latina Vidolova '15, Ziqi Xiong '17.
        </footer>
    </div>
</div>
<script type="text/javascript" src="{% static 'jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>