<h1>Contact</h1>

<p>The Student Life<br/>
Smith Campus Center <br/>
Pomona College <br/>
Claremont, CA 91711<br/></p>

<p>
E-mail:  <a href="mailto:editor@tsl.pomona.edu">editor@tsl.pomona.edu</a> <br/>
</p>

<p>
Please e-mail news tips to <a href="news@tsl.pomona.edu">news@tsl.pomona.edu</a> .
</p>

<p>
For advertising inquiries e-mail 
<a href="mailto:business@tsl.pomona.edu">business@tsl.pomona.edu</a>.
</p>

<p>Letters to the Editor can be submitted by mail, 
<a href="mailto:editor@tsl.pomona.edu">e-mail</a>, or in person at 
Walker Hall room 101. TSL will publish letters under 400 words (although 
when an issue is particularly salient, we reserve the right to allow 
letters to run at a longer length) submitted by 4:00 p.m. Wednesday of the 
week of publication. We will not accept anonymous letters, letters containing 
profanity, or letters making personal attacks, and we reserve the right to 
edit spelling, punctuation, and serious grammatical errors. Letters may be 
signed by a maximum of three persons. All letters become the property of TSL.</p>