<footer class="footer">
    <div class="container">
        <hr>
        <div id="info-menu">
            <a href="{% url 'other' 'contact' %}">Contact</a>
            <a href="{% url 'other' 'about_tsl' %}">About TSL</a>
            <a href="{% url 'other' 'subscriptions' %}">Subscribe</a>
            <a href="{% url 'other' 'staff' %}">Staff</a>
            <a href="{% url 'archives' %}">Archives</a>
            <span class="stretch"></span>
        </div>
        &copy; 2015 The Student Life
        <br/>
        Website created by Kent Shikama '18, Latina Vidolova '15, Ziqi Xiong '17.
    </div>
</footer>