{% extends 'base.html' %}

{% block title_block %}
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{% static 'front-style.css' %}'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='{% static 'front-script.js' %}'></script>
{% endblock %}

{% block body_block %}
    <div id="header">
        <div id="banner"><img src="{% static 'TSLlogo-02-01.svg' %}"/></div>
        <h2>THE STUDENT LIFE</h2>
        <ul id="main-menu">
            <li><a href="#">News</a></li>
            <li><a href="#">Life & Style</a></li>
            <li><a href="#">Opinions</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">About</a></li>
        </ul>

    </div>

{% comment %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'TSLlogo-02-01.svg' %}"></a>
      <a class="navbar-brand" href="#">The Student Life</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Life & Style</a></li>
        <li><a href="#">Opinions</a></li>
        <li><a href="#">Sports</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Subscribe</a></li>
            <li><a href="#">Print Issues</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div><!-- /.container-fluid -->
</nav>
{% endcomment %}

<!-- 			<div id="sub-menu">
        <a>trend</a>
        <a>so hot</a>
        <a>scandal</a>
        <span class="stretch"></span>
    </div> -->
<div class="slider-container">
    <div class="slider">
        <div class="slide active-slide" id="feature1">
                <h4>Feature 1</h4>
                <p>this is the 1st featured article</p>
        </div>

        <div class="slide" id="feature2">
            <div class="row">
                <h4>Feature 2</h4>
                <p>this is the 2nd featured article</p>
            </div>
        </div>

        <div class="slide" id="feature3">
            <div class="row">
                <h4>Feature 3</h4>
                <p>this is the 3rd featured article</p>
            </div>
        </div>

        <div class="slide" id="feature4">
            <div class="row">
                <h4>Feature 4</h4>
                <p>this is the 4th featured article</p>
            </div>
        </div>
    </div>
    <div class="slider-nav">
        <a class="arrow-prev"><</a>
        <a class="arrow-next">></a>
    </div>
</div>
<div class="article-previews">
    <div class="col-9">
        <div class="row">
            <div class="col-12 section-header">NEWS</div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://tsl.pomona.edu/uploads/article_images/1204two_columns.jpg?1431115082" />
                    </div>
                    <h4>Dean of CMC's Robert Day School Selected as 17th President of Ursinus College</h4>
                    <p>Brock Blomberg, Dean of Claremont McKenna College’s Robert Day School of Economics and Finance, will be leaving the college to become the 17th president of Ursinus College, a 146-year old liberal arts college located 30 miles northwest of Philadelphia. He will begin July 1.Ursinus, which has a...</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://tsl.pomona.edu/uploads/article_images/1194two_columns.jpg?1430456128" />
                    </div>
                    <h4>Scripps Accommodates Sweet Briar After Women's College Announces Closure</h4>
                    <p>When Sweet Briar College President James F. Jones announced March 3 that the women's college would close in late August, the students, faculty and staff gathered in Babcock Auditorium fell utterly silent. After the emergency announcement about the college's complex financial circumstances,...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section-header">LIFE & STYLE</div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section-header">OPINIONS</div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="section-header">SPORTS</div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 side-menu">
        <div class="row"><div class="section-header">Most Popular</div></div>
        <div class="row">Title-author</div>
        <div class="row">Title-author</div>
        <div class="row">Title-author</div>
        <div class="row">Title-author</div>

    </div>
</div>
{% endblock %}