{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link rel='stylesheet' href='{% static 'front-style.css' %}'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='{% static 'front-script.js' %}'></script>
{% endblock %}

{% block body_block %}
    {% load navigation_extras %}
    <nav id="tslNavbar" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="tsl navbar-brand" href="{% url 'home' %}"><img id="tslLogo"
                                                                         src="{% static 'TSLlogo-02-01.svg' %}"/><span
                        id="tslLogoText">THE STUDENT LIFE</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul id="main-menu" class="nav navbar-nav navbar-right">
                    <li class="{% active_nav request 'articles' %}"><a href="{% url 'latest_issue' %}">News</a></li>
                    <li class="{% active_nav request 'front' %}"><a href="{% url 'front' %}">Life & Style</a></li>
                    <li class="{% active_nav request 'album' %}"><a href="{% url 'albums' %}">Opinions</a></li>
                    <li class="{% active_nav request 'manage' %}"><a href="{% url 'manage' %}">Sports</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About
                            <span class="caret"></span></a>
                        <ul id="tslDropDown" class="dropdown-menu" role="menu">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">Subscribe</a></li>
                            <li><a href="#">Print Issues</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="slider-container">
        <div class="slider">
            {% for feature in features %}
                <div class="slide active-slide" id="feature{{ forloop.counter }}">
                    <div class="featureSlideBox">
                        <h4>{{ feature.article.title }}</h4>

                        <p>{{ feature.article.content_with_no_images | truncatechars:200 | safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
            <a class="arrow-prev"><</a>
            <a class="arrow-next">></a>
        </div>
    </div>
    <div class="article-previews">
        <div class="col-9">
        <div class="row">
            <div class="col-12 section-header">NEWS</div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://tsl.pomona.edu/uploads/article_images/1204two_columns.jpg?1431115082" />
                    </div>
                    <h4>Dean of CMC's Robert Day School Selected as 17th President of Ursinus College</h4>
                    <p>Brock Blomberg, Dean of Claremont McKenna College’s Robert Day School of Economics and Finance, will be leaving the college to become the 17th president of Ursinus College, a 146-year old liberal arts college located 30 miles northwest of Philadelphia. He will begin July 1.Ursinus, which has a...</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://tsl.pomona.edu/uploads/article_images/1194two_columns.jpg?1430456128" />
                    </div>
                    <h4>Scripps Accommodates Sweet Briar After Women's College Announces Closure</h4>
                    <p>When Sweet Briar College President James F. Jones announced March 3 that the women's college would close in late August, the students, faculty and staff gathered in Babcock Auditorium fell utterly silent. After the emergency announcement about the college's complex financial circumstances,...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
                <div class="col-6 article-preview">
                    <div class="frame">
                        <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg" />
                    </div>
                    <h4>Title</h4>
                    <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed erat in lobortis.</p>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="section-header">LIFE & STYLE</div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header">OPINIONS</div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header">SPORTS</div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                    <div class="col-6 article-preview">
                        <div class="frame">
                            <img src="http://stuffpoint.com/parrots/image/240658-parrots-white-parrot.jpg"/>
                        </div>
                        <h4>Title</h4>

                        <p>Duis maximus libero a tincidunt egestas. Aliquam lobortis fermentum justo eget maximus. Sed
                            posuere ligula vel maximus volutpat. Aenean volutpat ullamcorper dapibus. Cras viverra sed
                            erat in lobortis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 side-menu">
            <div class="row">
                <div class="section-header">Most Popular</div>
            </div>
            <div class="row">Title-author</div>
            <div class="row">Title-author</div>
            <div class="row">Title-author</div>
            <div class="row">Title-author</div>
        </div>
    </div>
{% endblock %}