<article>
    <h1 class="article_title">
        {{ article.title }}
    </h1>
    <p class="article_info">
        {% for author in article.authors.all %}
            <a href="{{ author.get_absolute_url }}">{{ author.display_name }}</a>
        {% endfor % %}
        | {{ article.published_date }}
    </p>
    <div class="margin10"></div>
    {% if article.has_photo %}
        {% for photo in article.album.photo_set.all %}
            <img src="{{ photo.thumbnail.url }}"/>
        {% endfor %}
    {% endif %}
    <section class="article_content">
        {{ article.content|safe }}
    </section>
    <div class="margin10"></div>
    <div class="margin10"></div>
</article>