{% load staticfiles %}
{% load navigation_extras %}
<nav id="tslNavbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if flavour == "mobile" %}
                <a class="tsl navbar-brand mobile" href="{% url 'home' %}"><img id="tslLogo"
                                                                         src="{% static 'TSLlogo-02-01.svg' %}"/><span
                        id="tslLogoText">TSL</span></a>
            {% else %}
                <a class="tsl navbar-brand" href="{% url 'home' %}"><img id="tslLogo"
                                                                         src="{% static 'TSLlogo-02-01.svg' %}"/><span
                        id="tslLogoText">THE STUDENT LIFE</span></a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                {% for section in sections %}
                    <li class="{% active_nav request section.slug %}"><a
                            href="{% url 'section' section.slug %}">{{ section.name }}</a></li>
                {% endfor %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu tsl-dropdown-menu" role="menu">
                        <li><a href="{%   url 'about' 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'about' 'about_tsl' %}">About TSL</a></li>
                        <li><a href="{%   url 'about' 'subscriptions' %}">Subscribe</a></li>
                        <li><a href="{% url 'about' 'staff' %}">Staff</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>