{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>{{ section.name }}</title>
{% endblock %}

{% block body_block %}
    <div class="tsl-container">
        <h1>{{section.name}}</h1>
        <section id="article_ls" class="article-previews">
            {% for article in articles %}
                <div class="article-preview">
                    {% include 'short_article_partial.html' %}
                </div>
            {% endfor %}
        </section>
        {% include 'side_menu.html' %}
        {% include 'top_button_partial.html' %}
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="{% static 'imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript">
        $(window).load(function () {
            var container = (document.querySelector('#article_ls'));
            var msnry = new Masonry(container, {
                itemSelector: '.article-preview'
            });
        });
    </script>
    <script src="{% static 'section_scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'disqus.js' %}"></script>
{% endblock %}