<article>
    <hgroup>
        <h1 class="article_title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h1>

        <h2 class="article_category">
            <a href="{% url 'section' section.slug %}">{{ article.section }}</a>
        </h2>

        <h2 class="article_authors">
            {% for author in article.authors.all %}
                <a href="{{ article.author.get_absolute_url }}">{{ author.display_name }}</a>
            {% endfor % %}
        </h2>

        <h2 class="article_updated_date">{{ article.published_date }}</h2>
    </hgroup>
    <p class="article_content">
        {{ article.content|truncatechars:100 |safe }}...
    </p>
</article>