<aside class="side-menu">
    <div class="padding10"></div>
    <form action="{% url 'search' %}" role="search" method="GET">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Search for..."/>
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button">Search</button>
            </span>
        </div>
    </form>
    <section class="columnGroup mostPopular">
        <div id="popularthreads" class="dsq-widget">
            <h2 class="dsq-widget-title">Most Discussed</h2>
            <script type="text/javascript"
                    src="http://pomonatsl.disqus.com/popular_threads_widget.js?num_items=5"></script>
        </div>
    </section>
    <section>
        <h2>Most Viewed</h2>
        {% for article in populars %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
            <p class="dsq-widget-meta">{{ article.clicks }} views</p>
        {% endfor %}
    </section>
    <section>
        <h2>Most Recent</h2>
        {% for article in recents %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
            <p class="dsq-widget-meta">{{ article.updated_date }}</p>
        {% endfor %}
    </section>
</aside>