<aside class="side-menu col-md-4 col-lg-4">
    <section>
        <h1>Most Recent</h1>
        {% for article in recents %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
        {% endfor %}
    </section>
    <section>
        <h1>Most Popular</h1>
        {% for article in populars %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
        {% endfor %}
    </section>
</aside>