<aside class="side-menu">

    <div class="padding10"></div>
    
    <form action="{% url 'search' %}" role="search" method="GET">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Search for..."/>
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="submit">Search</button>
            </span>
        </div>
    </form>

    <div class="padding10"></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#discussed" aria-controls="discussed" role="tab" data-toggle="tab">Most Discussed</a></li>
    <li role="presentation"><a href="#viewed" aria-controls="viewed" role="tab" data-toggle="tab">Most Viewed</a></li>
    <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Most Recent</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="discussed">
        <section>
	    <h2>Most Discussed</h2>
        <script type="text/javascript" src="http://pomonatsl.disqus.com/popular_threads_widget.js?num_items=5"></script>
        </section>
    </div>


    <div role="tabpanel" class="tab-pane" id="viewed">

         <section>
        <h2>Most Viewed</h2>
        {% for article in populars %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
            <p class="dsq-widget-meta">{{ article.clicks }} views</p>
        {% endfor %}
    </section>

    </div>

    <div role="tabpanel" class="tab-pane" id="recent">
        <section>
        <h2>Most Recent</h2>
        {% for article in recents %}
            <a href="{{ article.get_absolute_url }}">
                <div>{{ article.title }}</div>
            </a>
            <p class="dsq-widget-meta">{{ article.updated_date }}</p>
        {% endfor %}
        </section>
    </div>
  </div>

    {% if comic_url %}
        <section class="comic">
        <h2>Weekly Comic</h2>
        <img src="{{ comic_url }}" style="max-width: 80%">
        </section>
    {% endif %}

</aside>
