<header>
    <h1>Staff</h1>
  </header>

  <p>
    <a href="mailto:editor@tsl.pomona.edu">Editor-in-Chief</a>: Julia Thomas<br/>
    <a href="mailto:contentmanager@tsl.pomona.edu">Managing Editor for Content</a>: Rachel Lang <br/>
    <a href="mailto:productionmanager@tsl.pomona.edu">Managing Editor for Production</a>: Kevin Tidmarsh<br/>
    <a href="mailto:design@tsl.pomona.edu">Senior Design Editors</a>: Helena Shannon, Soyoung Eom<br/>
    <a href="mailto: development@tsl.pomona.edu">Senior Development Manager</a>: Zoë Jameson<br/>
      <a href="mailto:staffmanager@tsl.pomona.edu">Senior Staff Manager</a>: <br/>
    <a href="mailto:digitaleditor@tsl.pomona.edu">Senior Digital Editor</a>: <br/>
    <a href="mailto:copy@tsl.pomona.edu">Senior Copy Editor</a>: Rhian Moore
  </p>

  <p>
    <a href="mailto:newseditor@tsl.pomona.edu">News Editor</a>: Diane Lee<br/>
    <a href="mailto:news@tsl.pomona.edu">News Section Manager</a>: Benji Lu<br/>
    <a href="mailto:lifeandstyle@tsl.pomona.edu">Life & Style Editor</a>: Alec Long <br/>
    <a href="mailto:opinions@tsl.pomona.edu">Opinions Editor</a>: Alexa Strabuk <br/>
    <a href="mailto:sportseditor@tsl.pomona.edu">Sports Editors</a>: Sean Cremin, Griffin Ferre
  </p>

  <p>
    News Design Editors: Audrey Liu<br/>
    Life & Style Design Editor: Mehron Abdi <br/>
    Opinions Design Editor: Sophia Fang<br/>
    Sports Design Editor: Jessica Wang
  </p>

  <p>
    News Copy Editor: Dixie Morrison<br/>
    Life & Style Copy Editor: Luke Miller  <br/>
    Opinions Copy Editor: Gloria Liou <br/>
    Sports Copy Editor: Mattie Toll
  </p>

  <p>
    Photography Editor: Rachel Lacey Noll <br/>
    Photography Manager: Tim Hernandez<br/>
    Visual Editor: Latina Vidolova <br/>
    Graphics Editor: Chloe An <br/>
    <a href="mailto:social@tsl.pomona.edu">Social Media Manager</a>: Maddie Glouner<br/>
    <a href="mailto:subscriptions@tsl.pomona.edu">Distribution Manager</a>: Lianne Parker<br/>
    <a href="mailto:business@tsl.pomona.edu">Business Manager</a>: John Kim <br/>
    <a href="mailto:ads@tsl.pomona.edu">Advertising Manager</a>: Guan Wang <br/>
    <a href="mailto:webmaster@tsl.pomona.edu">Web Developers</a>: Ziqi Xiong, Kent Shikama, Cai Glencross
  </p>
</section>