 {% load staticfiles %}

<header>
		<h1>Subscriptions</h1>
</header>

<section>

<p>The Student Life is pleased to announce a subscription program for parents, alumni, and emeriti faculty. Subscribers will be sent newspapers on Friday mornings by first-class mail to ensure quick and safe delivery. We offer a one-semester and full-year options with at least ten issues each in the Fall and the Spring—a total of at least twenty issues per year. Subscriptions cost $35 for either semester and $60 for the entire year.</p>

<p>TSL keeps you informed about on-campus news and events and is a forum for students’ work. In addition, your subscription will help to promote our goal of creating opportunities for student journalism at Pomona College and within the larger Claremont community.</p>

<p>We look forward to providing you with news on interesting current events and opinions from on campus!</p>

<p><a href="{% static 'subscription.pdf' %}">Subscription Order Form</a></p>

<p>For more information, please email <a href="mailto:subscriptions@tsl.pomona.edu">subscriptions@tsl.pomona.edu</a>.</p>

</section>