{% extends 'workflow_base.html' %}

{% block title_block %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'fotorama.css' %}"/>
    <title>Photos for {{ album.article.title }}</title>
{% endblock %}

{% block breadcrumb %}
    <span>
        <ol class="breadcrumb breadcrumbAdjust">
            <li><a href="{% url 'albums' %}">All Albums</a></li>
            <li><a href="{% url 'issue_albums' issue.id %}">Albums of Issue {{ issue.name }}</a></li>
            <li class="active">Photos for {{ album.article.title }}</li>
        </ol>
    </span>
    <a id="edit" class="btn btn-default btn-primary btn-right" href="{% url 'edit_album' issue.id album.pk %}">Upload/Edit Photos</a>
{% endblock %}

{% block content_block %}
    <div class="fotorama" data-nav="thumbs" data-maxheight="500px">
    {% for photo in album.photo_set.all %}
        <a href="{{ photo }}"><img class="pics" src="{{ photo.thumbnail.url }}" /></a>
    {% endfor %}
    </div>
{% endblock %}

{% block additional_scripts_block %}
    <script type="text/javascript" src="{% static 'fotorama.js' %}"></script>
{% endblock %}