from website.settings_shared import *

SECRET_KEY = 'SET_SECRET_KEY'

DEBUG = True
TEMPLATE_DEBUG = True

STATIC_ROOT = os.path.join(ENV_PATH, 'static')
MEDIA_ROOT = os.path.join(ENV_PATH, 'media')

EMAIL_HOST_USER = 'claremont_academia@yahoo.com'
EMAIL_HOST_PASSWORD = 'SET_PASSWORD'

