# Set secret key
SECRET_KEY = 'SET_SECRET_KEY'

DEBUG = False
TEMPLATE_DEBUG = False

STATIC_ROOT = '/srv/www/tsl/public/static/'
MEDIA_ROOT = '/srv/www/tsl/local/Manhattan-Project/website/media/'

from website.configuration import *